In [1]:
import numpy as np
import pandas as pd

import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

from scipy import stats
import matplotlib.pyplot as plt

In [2]:
scores = pd.read_csv(r"Vermont Data\Assessment\Smarter Balance_Assessment_2018.csv")
scores = scores[(scores["IndicatorLabel"] == "Average Scaled Score") & (scores["AssessGroup"] == "All Students") & (scores["AssessLabel"] == "All Students")][["OrganizationIdentifer", "OrganizationName", "SchoolValue", "TestName"]].dropna().reset_index(drop = True)

#avgscores = [np.mean(scores[scores["OrganizationIdentifer"] == i]["SchoolValue"].dropna()) for i in set(scores["OrganizationIdentifer"])]
#avgscores
scores.head()

,OrganizationIdentifer,OrganizationName,SchoolValue,TestName
0,PI004,RIVENDELL ACADEMY,2548.60,SB English Language Arts Grade 07
1,PI004,RIVENDELL ACADEMY,2540.50,SB English Language Arts Grade 08
2,PI004,RIVENDELL ACADEMY,2556.51,SB English Language Arts Grade 09
3,PI004,RIVENDELL ACADEMY,2543.56,SB Math Grade 07
4,PI004,RIVENDELL ACADEMY,2523.21,SB Math Grade 08

In [3]:
ELA1 = [2369, 2414, 2441, 2453, 2475, 2486, 2506]
ELA2 = [2399, 2444, 2471, 2493, 2515, 2526, 2550]
ELA3 = [2432, 2473, 2502, 2531, 2552, 2567, 2594]
ELA4 = [2461, 2503, 2542, 2575, 2601, 2618, 2648]
ELA5 = [2491, 2533, 2582, 2619, 2651, 2668, 2702]

MTH1 = [2378, 2407, 2451, 2472, 2485, 2504, 2527]
MTH2 = [2408, 2447, 2491, 2512, 2525, 2544, 2571]
MTH3 = [2436, 2485, 2528, 2552, 2567, 2586, 2616]
MTH4 = [2469, 2517, 2554, 2581, 2601, 2620, 2649]
MTH5 = [2502, 2549, 2780, 2611, 2634, 2654, 2682]

In [4]:
scores["OrganizationIdentifer"]

0       PI004
1       PI004
2       PI004
3       PI004
4       PI004
        ...
1436    PS411
1437    PS411
1438    PS411
1439    PS411
1440    PS411
Name: OrganizationIdentifer, Length: 1441, dtype: object

In [5]:
elavalue = []
mthvalue = []

for school in set(scores["OrganizationIdentifer"]):
    
    ela = []
    mth = []
    
    subscores = scores[scores["OrganizationIdentifer"] == school]
    for test in set(subscores["TestName"]):
        subsubscores = subscores[subscores["TestName"] == test]

        test = test.split()
        ind = int(test[-1]) - 3
        score = float(subsubscores["SchoolValue"])
        rank = 0

        if test[1] == "English":
            if ELA2[ind] > score:
                rank = 1.00
            elif ELA3[ind] > score:
                rank = 2.00
            elif ELA4[ind] > score:
                rank = 3.00
            elif ELA5[ind] > score:
                rank = 4.00
            else:
                rank = 5.00
            ela.append(rank)

        elif test[1] == "Math":
            if MTH2[ind] > score:
                rank = 1.00
            elif MTH3[ind] > score:
                rank = 2.00
            elif MTH4[ind] > score:
                rank = 3.00
            elif MTH5[ind] > score:
                rank = 4.00
            else:
                rank = 5.00
            mth.append(rank)

    ela = round(np.mean(ela), 2)
    mth = round(np.mean(mth), 2)

    elavalue.append(ela)
    mthvalue.append(mth)

C:\Users\thewa\AppData\Local\Temp\ipykernel_4932\525474849.py:15: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  score = float(subsubscores["SchoolValue"])
c:\Users\thewa\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\thewa\anaconda3\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [6]:
data = {"OrganizationIdentifer": list(set(scores["OrganizationIdentifer"])), "OrganizationName": list(set(scores["OrganizationName"]))}
sbac = pd.DataFrame(data) 
sbac["ELA Value"] = elavalue
sbac["Math Value"] = mthvalue
sbac

,OrganizationIdentifer,OrganizationName,ELA Value,Math Value
0,PS188,ROBINSON SCHOOL,1.00,1.00
1,PS280,COLCHESTER HIGH SCHOOL,1.33,1.33
2,PS071,WOODSTOCK UNION MIDDLE SCHOOL,1.25,1.25
3,PS356,OXBOW UHS #30,3.00,2.00
4,PS001,LUNENBURG/GILMAN SCHOOLS,2.75,3.25
...,...,...,...,...
239,PS352,HARWOOD UNION MIDDLE/HS #19,1.75,1.50
240,PS106,TWIN VALLEY ELEM SCHOOL,2.50,2.25
241,PS324,EDMUNDS ELEMENTARY SCHOOL,2.33,2.33
242,PS138,WHITCOMB JUNIOR/SENIOR HIGH SCHOOL,3.00,1.00
243,PS243,BRATTLEBORO UHS #6,3.50,3.00

In [7]:
xls = pd.ExcelFile(r"Vermont Data\PPE-VT-Download.xlsx")
ppe = pd.read_excel(xls, 'PPE')
ppe = ppe[["SCH NAME", "ST SCHID", "TotalPpeTotal"]][ppe["TotalPpeTotal"] != 0].dropna().reset_index(drop = True)
ppe["ST SCHID"] = [i[-5:] for i in ppe["ST SCHID"]]
ppe

c:\Users\thewa\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

                            SCH NAME ST SCHID  TotalPpeTotal
0                  RIVENDELL ACADEMY    PI004          13462
1                DOTHAN BROOK SCHOOL    PS378          15854
2    HARTFORD MEMORIAL MIDDLE SCHOOL    PS135          13016
3               HARTFORD HIGH SCHOOL    PS134          14813
4                 WHITE RIVER SCHOOL    PS339          17540
..                               ...      ...            ...
279                BURKE TOWN SCHOOL    PS051          13257
280     CHARLESTON ELEMENTARY SCHOOL    PS067          14401
281                    WALDEN SCHOOL    PS316          18069
282                   CANAAN SCHOOLS    PS059          14959
283       LUNENBURG & GILMAN SCHOOLS    PS168          10062

[284 rows x 3 columns]

In [8]:
idcomb = list(set(ppe["ST SCHID"]) & set(sbac["OrganizationIdentifer"]))
namecomb = list(ppe[ppe["ST SCHID"].isin(idcomb)]["SCH NAME"])
ppecomb = list(ppe[ppe["ST SCHID"].isin(idcomb)]["TotalPpeTotal"])
elacomb = list(sbac[sbac["OrganizationIdentifer"].isin(idcomb)]["ELA Value"])
mthcomb = list(sbac[sbac["OrganizationIdentifer"].isin(idcomb)]["Math Value"])

newdata = {"ID": idcomb, "Name": namecomb, "PPE": ppecomb, "ELA Score": elacomb, "Math Score": mthcomb}
comb = pd.DataFrame(newdata) 
comb

        ID                             Name    PPE  ELA Score  Math Score
0    PS188                RIVENDELL ACADEMY  13462       1.00        1.00
1    PS280              DOTHAN BROOK SCHOOL  15854       1.33        1.33
2    PS071  HARTFORD MEMORIAL MIDDLE SCHOOL  13016       1.25        1.25
3    PS356             HARTFORD HIGH SCHOOL  14813       3.00        2.00
4    PS001               WHITE RIVER SCHOOL  17540       2.75        3.25
..     ...                              ...    ...        ...         ...
228  PS352            SUTTON VILLAGE SCHOOL  15586       1.75        1.50
229  PS106                BURKE TOWN SCHOOL  13257       2.50        2.25
230  PS324     CHARLESTON ELEMENTARY SCHOOL  14401       2.33        2.33
231  PS138                   CANAAN SCHOOLS  14959       3.00        1.00
232  PS243       LUNENBURG & GILMAN SCHOOLS  10062       3.50        3.00

[233 rows x 5 columns]

In [9]:
fig = make_subplots(rows=1, cols=1)
fig.add_trace(go.Scatter(x = comb["PPE"], y = comb["Math Score"], mode = "markers", name = "Scatter Plot"))
fig.show()

In [10]:
x = list(comb["PPE"])
x.sort()
x[154]

13542

Cutoff 1: 12k
Cutoff 2: 13.5k

In [11]:
ppelevel = []
for school in list(comb["ID"]):
    ppe = float(comb[comb["ID"] == school]["PPE"])
    if ppe < 12000:
        ppelevel.append(1)
    elif ppe < 13500:
        ppelevel.append(2)
    else:
        ppelevel.append(3)
comb["Score Diff"] = comb["ELA Score"] - comb["Math Score"]
comb["PPE Level"] = ppelevel
comb

C:\Users\thewa\AppData\Local\Temp\ipykernel_4932\3140429418.py:3: FutureWarning:

Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead

,ID,Name,PPE,ELA Score,Math Score,Score Diff,PPE Level
0,PS188,RIVENDELL ACADEMY,13462,1.00,1.00,0.00,2
1,PS280,DOTHAN BROOK SCHOOL,15854,1.33,1.33,0.00,3
2,PS071,HARTFORD MEMORIAL MIDDLE SCHOOL,13016,1.25,1.25,0.00,2
3,PS356,HARTFORD HIGH SCHOOL,14813,3.00,2.00,1.00,3
4,PS001,WHITE RIVER SCHOOL,17540,2.75,3.25,-0.50,3
...,...,...,...,...,...,...,...
228,PS352,SUTTON VILLAGE SCHOOL,15586,1.75,1.50,0.25,3
229,PS106,BURKE TOWN SCHOOL,13257,2.50,2.25,0.25,2
230,PS324,CHARLESTON ELEMENTARY SCHOOL,14401,2.33,2.33,0.00,3
231,PS138,CANAAN SCHOOLS,14959,3.00,1.00,2.00,3
232,PS243,LUNENBURG & GILMAN SCHOOLS,10062,3.50,3.00,0.50,1

PPE Level Split

In [12]:
comb1 = comb[comb["PPE Level"] == 1][["ID", "Name", "PPE", "ELA Score", "Math Score", "Score Diff"]].reset_index(drop = True)
comb2 = comb[comb["PPE Level"] == 2][["ID", "Name", "PPE", "ELA Score", "Math Score", "Score Diff"]].reset_index(drop = True)
comb3 = comb[comb["PPE Level"] == 3][["ID", "Name", "PPE", "ELA Score", "Math Score", "Score Diff"]].reset_index(drop = True)

comb1.to_excel("ISR Data/PPE Level 1.xlsx")
comb2.to_excel("ISR Data/PPE Level 2.xlsx")
comb3.to_excel("ISR Data/PPE Level 3.xlsx")

PermissionError: [Errno 13] Permission denied: 'ISR Data/PPE Level 1.xlsx'